/*            CSS RESET                      */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
/*            Nav Fondo                        */

.nav_fondo {
  background-image: linear-gradient(to left, #000000e1 0%, black 100%);
}
.redes_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.8rem;
  border-radius: 50%;
  transition: all 0.8s;
  cursor: pointer;
}

.icon:hover {
  background-color: #e60073;
  box-shadow: 0 0 20px #e60073;
}

.icon:hover:nth-child(2) {
  background-color: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(3) {
  background-color: #25d366;
  box-shadow: 0 0 20px #25d366;
}

.icon:hover:nth-child(4) {
  background-color: #1da1f2;
  box-shadow: 0 0 20px #1da1f2;
}

.icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
}

svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s ease-in-out;
}

.icon:hover circle {
  stroke-dasharray: 220;
}
/*     HEADER                  */
.header-back {
  background-image: url(../assets/img/fondo_header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.hader_div--h1{
  color: rgb(0, 0, 0); 
  text-align: center; 
  margin: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	display: inline-block;
	border: 0.5rem double rgba(0, 0, 0, 0.459);
	border-width: 0.3rem 0;
	padding: 0;
}

/*            SECTION                       */
.section-cajatext {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ffffff;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 400;
  background: #20376d;
  overflow: hidden;
  padding: 20px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}
.tamao {
  width: 2rem;
  height: 2rem;
}
/*               Media Query          */

/*Ocultar redes sociales en Mobile*/
@media screen and (max-width: 760px) {
  .ocultar-div {
    display: none;
    
  }
}

@media screen and (max-width: 760px) {
.as { 
  flex-direction: column;
  }
}
@media screen and (max-width: 370px) {
  .hader_div--h1 {
    display: none;
    
  }
  }
  